* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
Body {
    color: #fff;
    background-color: #000;
}
div {
    display: block;
}
.OuterBox {
    background-color: black;
}
.Title {
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
}
.SeperatorLeft, .SeperatorRight {
    width: 16px;
    height: 100%;
    background-image: url("img/PanelVertical.png");
    background-repeat: repeat-y;
    position: absolute;
    z-index: 100;
}
.SeperatorLeft {
    left: 30%;
}
.SeperatorRight {
    right: 320px;
}
#Banner {
    background-color: #ccc;
    min-width: 30px;
}
#Game {
    position: absolute;
    color: white;
    left: 0px;
    top: 30px;
    right: 0px;
    bottom: 0px;
}
.BgDefault {
    background-image: url("img/BgBlue.jpg");
    background-repeat: repeat-y;
}
/*#################################################################
#####################     Clicker Section     #####################
#################################################################*/
#ClickerSection {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 100px;
}
#Cookies {
    position: absolute;
    left: 0px;
    top: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    padding: 2px 0px;
}
#BakeryNameAnchor {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
}
#BakeryName {
    position: absolute;
    bottom: 10px;
    left: 12.5%;
    width: 75%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 12px;
    font-size: 20px;
}
#BakeryName:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
}
#CookieAnchor {
    position: absolute;
    left: 50%;
    top: 40%;
}
#BigCookie {
    width: 256px;
    height: 256px;
    background-image: url("img/FullCookie.png");
    background-size: 256px 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    cursor: pointer;
    object-fit: cover;
}
/*#################################################################
#####################      Info Section      ######################
#################################################################*/
#InfoSection {
    position: absolute;
    left: 30%;
    padding-left: 16px;
    margin-right: 15px;
    top: 0px;
    right: 320px;
    bottom: 0px;
    min-width: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*#################################################################
#####################     Upgrade Section     #####################
#################################################################*/
#UpgradeSection {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#StoreTitle {
    text-align: center;
    padding: 8px;
}
.StoreSection {
    width: 300px;
    position: relative;
    overflow-y: hidden;
    padding-top: 16px;
    background: url(img/PanelHorizontal.png) repeat-x;
}