* {
    width:650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: purple;
}
p {
    margin: 0px;
}
.poster {
    background-color: white;
    width: 650px;
}
.banner {
    background-image: url("Task3banner.PNG");
    background-size: 650px;
    alt: "banner";
    min-height: 257px;
    background-repeat: no-repeat;
}
.headline-border {
    width: 620px;
    margin: 15px;
}
.headline {
    background-color: white;
    line-break: auto;
    width: 620px;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    line-height: 130%;
}
.dates {
    border-top: dashed;
    border-color: grey;
    border-width: 2px;
    line-height: 150%;
}
.ReadMore {
    height: 40px;
    width: 570px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
#ReadMoreText {
    width: 540px;
    font-weight: bold;
}
Button {
    background-color: rgb(167, 28, 202);
    text-decoration: none;
    border: none;
    font-size: 45px;
    color: white;
}
.ButtonProperties {
    height: 80px;
    width: 80px;
    float: right;
    margin-top: -64px;
    outline: none;
    vertical-align: middle;
    font-weight: bold;
}
.LightDate {
    display: flex;
    background-color: rgb(211, 75, 245);
    width: 610px;
    height: 90px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.DarkDate {
    display: flex;
    background-color: rgb(167, 28, 202);
    width: 610px;
    height: 90px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.AlignRight {
    width: 70%;
    float: right;
    color: white;

}
.AlignLeft {
    display: flex;
    width: 30%;
    float: left;
    font-size: 20px;
    line-height: 180%;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.footer {
    background-color: black;
    width: 610px;
    height: 120px;
    color: white;
    text-align: center;
    padding: 20px;
    line-break: inherit;
    position: relative;
}
.footer p {
    width: 580px;
    padding: 15px;
}
.center {
    text-align: center;
}
.text-decoration {
    text-decoration: none;
}